/* styles for index.html in the HES graduate assignment */
body {
	margin-right: 5rem;
	margin-left: 5rem;
	font-family: 'Helvetica', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

#mainingress {

}

/* maincontainer for MEAN boxes */
.mainbox-contrainer {
	display: block;
}

/* All main MEAN boxes */
.meanboxesm, .meanboxese, .meanboxesa, .meanboxesn {
	width: 75%;
}

/* Express.js box */
.meanboxese {
	margin-left: 5%; 
	margin-right: auto;
	width: 70%;
}

/* MongoDB button */
#mongodb-button {
	background-color: darkgreen;
	color: white;
}

#mongodb-button:hover {
  opacity: 0.8;
}

/* Express.js bobuttonx */
#expressjs-button {
	background-color: grey;
	color: white;
}

#expressjs-button:hover {
  opacity: 0.8;
}

/* Angular.js button */
#angularjs-button {
	background-color: red;
	color: white;
}

#angularjs-button:hover {
  opacity: 0.8;
}

/* Node.js button */
#nodejs-button {
	background-color: green;
	color: white;
}

#nodejs-button:hover {
  opacity: 0.8;
}

button {
	font-weight: bold;
}

.active {
  opacity: 0.8;
}


/* Collapsible */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
 margin-bottom: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none;
}

/* + icon on collapsible */
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
